{% load static %}
<div class="main_slider owl-theme owl-carousel">
    <div class="slider_item">
        <img 
        src="{% static 'images/detskaya/1.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img 
        src="{% static 'images/detskaya/2.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img 
        src="{% static 'images/detskaya/4.jpg' %}" alt="">
    </div>
    {% comment %} <div class="slider_item">
        <img 
        src="{% static 'images/beremennost/4.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img 
        src="{% static 'images/family/3.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img 
        src="{% static 'images/portrait/2.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img 
        src="{% static 'images/detskaya/2.jpg' %}" alt="">
    </div> {% endcomment %}
</div>