{% load static %}
<div class="prices_container">
    <div class="nice_title2 center">
        <span>
            Цены    
        </span>
    </div>
    <div class="prices_item">
        <div class="prices_info">
            <div class="prices_info__title">
                <span>
                    Пакет "МИНИМАЛЬНЫЙ"
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    30 минут съёмка
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    10 лучших фотографий в авторской обработке с детальной ретушью
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    Все удачные снимки в JPG формате (без обработки) 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    Помощь в позировании, подборе локации и образов
                </span>
            </div>
            <div class="item_price">
                <span>
                    1,500 руб.
                </span>
            </div>
            <div class="price_item_button nice_button margin_40">
                <a
                href="{% url 'main:index' %}#requestcall_anchor">
                    заказать
                </a>
            </div>
        </div>
        <div class="prices_img">
            <img src="{% static 'images/detskaya/3.jpg' %}" alt="">
        </div>
    </div>
    <div class="prices_item">
        <div class="prices_info">
            <div class="prices_info__title">
                <span>
                    Пакет "ОПТИМАЛЬНЫЙ" 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    1 час съёмка
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    20 лучших фотографий в авторской обработке с детальной ретушью
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    все удачные снимки в JPG формате (без обработки) 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    помощь в позировании, подборе места съёмки и образов
                </span>
            </div>
            <div class="item_price">
                <span>
                    2,500 руб.
                </span>
            </div>
            <div class="price_item_button nice_button margin_40">
                <a href="{% url 'main:index' %}#requestcall_anchor">
                    заказать
                </a>
            </div>
        </div>
        <div class="prices_img">
            <img src="{% static 'images/family/3.jpg' %}" alt="">
        </div>
    </div>
    <div class="prices_item">
        <div class="prices_info">
            <div class="prices_info__title">
                <span>
                    Пакет "МАКСИМАЛЬНЫЙ"
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    1 час съёмка 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    20 лучших фотографий в авторской обработке с детальной ретушью 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    все удачные снимки в цвето- и светокоррекции
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    помощь в позировании, подборе места съёмки и образов 
                </span>
            </div>
            <div class="item_price">
                <span>
                    4,500 руб.
                </span>
            </div>
            <div class="price_item_button nice_button margin_40">
                <a href="{% url 'main:index' %}#requestcall_anchor">
                    заказать
                </a>
            </div>
        </div>
        <div class="prices_img">
            <img src="{% static 'images/family/5.jpg' %}" alt="">
        </div>
    </div>
    <div class="prices_item">
        <div class="prices_info">
            <div class="prices_info__title">
                <span>
                    Пакет "VIP" (все включено) 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    1 час съёмка 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    20 лучших фотографий в авторской обработке с детальной ретушью 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    аренда платья 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    услуги визажиста (макияж, прическа) 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    все удачные снимки в цвето- и  светокоррекции 
                </span>
            </div>
            <div class="prices_info_detail">
                <i class="fa fa-check-circle"></i>
                <span>
                    помощь в позировании, выборе места съёмки и образов
                </span>
            </div>
            <div class="item_price">
                <span>
                    8000 руб.
                </span>
            </div>
            <div class="price_item_button nice_button margin_40">
                <a href="{% url 'main:index' %}#requestcall_anchor">
                    заказать
                </a>
            </div>
        </div>
        <div class="prices_img">
            <img src="{% static 'images/portrait/7.jpg' %}" alt="">
        </div>
    </div>
    
</div>