<div class="request_call_container">
    <div class="request_call_container__desc">
    Оставьте контактную информацию о себе и я свяжусь с Вами в ближайшее время чтобы определится с датой, местом и образами для нашей фотосессии. 
    </div>
    <div class="nice_title2 center">
        <span>
            Записаться на фотосъемку
        </span>
    </div>
    <div class="request_call_form">
        <div class="request_call_form_first">
            <input class="call_form_input" 
            name="call_name" autocomplete="off" 
            placeholder="Ваше имя*"
            type="">
            <input class="call_form_input" 
            name="call_phone" autocomplete="off" 
            placeholder="Контактный телефон*"
            type="">
            <input class="call_form_input" 
            name="call_about" autocomplete="off" 
            placeholder="Какая съемка интересует?"
            type="">
        </div>
        <div class="request_call_send nice_button">
            <span id="send_call_phone">
                отправить
            </span>
        </div>
    </div>
</div>