<div class="adv__wrapper">

    <div class="nice_title2 center">
        <span>
            Мои услуги
        </span>
    </div>

    <div class="adv__main">

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Детская фотосъёмка 
            </div>
            <div class="adv__main__item__counter">
                01
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Семейная фотосессия
            </div>
            <div class="adv__main__item__counter">
                02
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Фотосессия беременности
            </div>
            <div class="adv__main__item__counter">
                03
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Портретная съёмка
            </div>
            <div class="adv__main__item__counter">
                04
            </div>
        </div>
        

    </div>
</div>