{% load static %}
<div class="nice_title2 center"
    style="padding:40 0;">
        <span>
            Детская фотосъемка
        </span>
</div>
<div class="main_slider owl-theme owl-carousel">
    <div class="slider_item">
        <img src="{% static 'images/detskaya/8.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/detskaya/3.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/detskaya/4.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/detskaya/2.jpg' %}" alt="">
    </div>
</div>


<div class="nice_title2 center"
    style="padding:40 0;">
        <span>
            Семейная фотосессия
        </span>
</div>
<div class="main_slider owl-theme owl-carousel">
    <div class="slider_item">
        <img src="{% static 'images/family/1.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/family/4.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/family/6.jpg' %}" alt="">
    </div>
</div>

<div class="nice_title2 center"
    style="padding:40 0;">
        <span>
            Фотосессия беременности
        </span>
</div>
<div class="main_slider owl-theme owl-carousel">
    <div class="slider_item">
        <img src="{% static 'images/beremennost/2.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/beremennost/3.png' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/beremennost/5.jpg' %}" alt="">
    </div>
</div>

<div class="nice_title2 center"
    style="padding:40 0;">
        <span>
            Портретная съемка
        </span>
</div>
<div class="main_slider owl-theme owl-carousel">
    <div class="slider_item">
        <img src="{% static 'images/portrait/1.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/portrait/2.jpg' %}" alt="">
    </div>
    <div class="slider_item">
        <img src="{% static 'images/portrait/5.jpg' %}" alt="">
    </div>
</div>
